.title {
  display: flex;
  margin:auto;
  background: blue;
  justify-content: center;

}

.main {
  display: flex;
  width: auto;
  justify-content: center;
}

.sidebar {
  background: yellow;
}

.announcement {
  background: red;
  text-align: center;
}

.sidebar2 {
  background: purple;
}

.footer {
  background: grey;
}

.footer-title {
  text-align: center;
}
