<header>
  <div class="title">
    <h2>Coming Attractions!</h2>
  </div>
</header>
<div class="main">
  <div class="sidebar">
    <h2>Cool Shit Goes Here!</h2>
  </div>
  <div class="announcement">
    <h2>Main Title</h2>
    <p>Ladies and Gentlemen, boys and girls, CHILDREN OF ALL AGES!!<br>
      WE are proud to introduce our family! First is the patriarch, Anders. <br>
      He is a humble and hard working man. One who roamed the deserts and streets with no name.<br>
      One who strives for the best for his family and friends. And one who was lucky to find<br>
      Our next member, his wife and love of his life, Amanda.<br>
      Amanda is the driving force and glue that holds the family together.<br>
      She keeps everyone in line and plays a mean druid in WOW!<br>
      She also likes pineapple mango smoothies!!<br>
      Next we have Avery.  She is strong, proud, intelligent and can do whatever she wants<br>
      And she has talked about being a big sister for years........<br>
      So, without further ado.<br>
      The Olavessen family is proud to present, the next HEAVY WEIGHT CHAMPION OF THE WORLD!!<br>
      Unnamed baby Olavessen!!!  <br>
      Coming soon to a nursery near you!! In February 2017!
    </p>
  </div>
  <div class="sidebar2">
    <h2>More cool shit!!</h2>
  </div>

  </div>
  <div class="footer">
    <div class="footer-title">
    <h2>More cool ending shit!!</h2>
  </div>
  <div class="poll">
    <h2>What will the baby be?</h2>
  </div>

  </div>
